<ion-view view-title="Playlists">
  <ion-content>
    <div class="list">
      <!-- <form name="addNote" novalidate> -->
      <label class="item item-input item-stacked-label">
        <span class="input-label title-bar">Title</span>
        <input type="text" placeholder="Title" ng-model="notes.title" name="title-input" required=""/>
        <!-- <div ng-show="addNote.$submitted || addNote.title-input.$touched"> -->
          <!-- <span ng-show="addNote.title-input.$error.required">Title is required</span> -->
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Note</span>
        <input type="text" placeholder="Note Input" ng-model="notes.input">
        <!-- <div ng-show="addNote.$submitted || addNote.title.$touched"> -->
          <!-- <span ng-show="addNote.title.$error.required">Input is required</span> -->
      </label>
      <!-- </form> -->
      <button class="button button-light" type="submit" ng-click="setLocal()" ng-disabled="addNote.$invalid">
        Save Note
      </button>
    </div>
 </ion-content>
</ion-view>
