<ion-view view-title="Playlists">
  <ion-content>
<!--     <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>

 -->
    <div class="list">
      <!-- <form name="addNote" novalidate> -->
      <label class="item item-input item-stacked-label">
        <span class="input-label" required=""/>Title</span>
        <input type="text" placeholder="Title">
        <!-- <div ng-show="addForm.$submitted || addForm.title.$touched"> -->
          <span ng-show="addForm.title.$error.required">Title is required</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" ng-model="notes.input">NOTES Input</span>
        <input type="text" placeholder="Notes">
      </label>
      <!-- </form> -->
      <button class="button button-light">
        Save Note
      </button>
    </div>
 </ion-content>
</ion-view>
