<ion-view view-title="Playlists" ng-controller="NotesCtrl as notes">
  <ion-content>
    <form name="addNote" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label title-bar">Title</span>
          <input type="text" placeholder="Title" ng-model="notes.title" name="title" required>
        </label>
        <label class="item item-input item-stacked-label note-input">
          <span class="input-label">Note</span>
          <h1>{{notes.something}}</h1>
          <input type="text" placeholder="Note Input" ng-model="notes.input" name="notes" required>
        </label>
          <span ng-show="addNote.title.$error.required && addNote.title.$touched">Title is required</span>
          <span ng-show="addNote.notes.$error.required && addNote.notes.$touched">Note cannot be blank</span>
      </div>
      <button class="button button-calm" type="button" ng-disabled="addNote.$invalid" ng-click="notes.setLocal()">
        Save Note
      </button>
    </form>
  </ion-content>
</ion-view>
